<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>All cups</title>

    <link rel="stylesheet" href="../public/styles/allCups.css">
    <link rel="stylesheet" href="../public/styles/bootstrap.css">
</head>

<body>
    <section class="blog-area section">
        <div class="container">

            <div class="row">

                <div class="col-lg-4 col-md-6">
                    <div class="card h-100">
                        <div class="single-post post-style-1">

                            <div class="blog-image">
                                <img src="images/marion-michele-330691.jpg" alt="Blog Image">
                            </div>

                            <div class="blog-info">

                                <h4 class="title">
                                    <a href="#">
                                        <b>La Liga</b>
                                    </a>
                                </h4>

                                <ul class="post-footer">
                                    <li>
                                        <a href="#">
                                            <i class="ion-heart"></i>57</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-chatbubble"></i>6</a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="ion-eye"></i>138</a>
                                    </li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</body>

</html>