<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../public/styles/frontPage.css">
    <link rel="stylesheet" href="../public/styles/main.css">
    <title>Real Madrid</title>
</head>

<body>

    <div id="container">
        <img id="player1" src="../public/media/images/frontPage/player1.png" alt="">
        <img id="player2" src="../public/media/images/frontPage/player2.png" alt="">
        <img id="player3" src="../public/media/images/frontPage/player3.png" alt="">
    </div>

</body>

</html>