.blog-area {
	padding: 60px 0 50px 0;
}

.blog-area .row div[class^="col"] {
	margin-top: 40px;
}

.blog-area {
	text-align: center;
	background: #EDF3F3;
}

.blog-area .single-post {
	height: 100%;
	position: relative;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	border: 1px solid #ddd;
	background: #fff;
}

.blog-area .single-post .title {
	padding: 30px 0;
	margin: 0;
}

.blog-area .single-post .title a {
	color: #009fe3;
	font-size: 1.8rem;
}

.single-post .blog-image {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 400px;
	background-color: #009fe3;
	transition: 0.5s;
}

.single-post:hover .blog-image {
	background-color: #343a40;
	transition: 0.5s;
}

.single-post:hover .blog-info a {
	color: #343a40;
	transition: 0.5s;
	text-decoration: none;
}

.single-post .blog-image img {
	max-height: 300px;
	width: auto;
	height: auto;
}

.new-post {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 496px;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
	cursor: pointer;
}

.new-post img {
	width: 80px;
	height: 80px;
}

@media (max-width: 576px) {
	.single-post .blog-image {
		height: 235px;
	}
	.single-post .blog-image img {
		max-height: 160px;
	}
	.blog-area .single-post .title {
		padding: 15px 0;
		margin: 0;
	}
	.blog-area .single-post .title a {
		font-size: 1.2rem;
	}
	.new-post {
		height: 100px;
	}
	.new-post img {
		width: 50px;
		height: 50px;
	}
}