html {
    height: 100%;
    width: 100%;
}

body {
    background: url("../media/images/frontPage/bg.png") no-repeat;
    background-size: auto 70%;
    background-position: center bottom;
    height: 100%;
    width: 100%;
}